{% extends "acad/base.html" %}
{% block page_title %}Tipo Sensor Lógico{% endblock page_title %}

{% block content %}
  <div class="table-responsive">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2"><i class="fa fa-cogs"></i> Tipo Sensor Lógico</h1>
      <div>
       <a href="{% url 'tipo_sensor_logico_create' %}" class="btn btn-primary">
         <i class="fa fa-plus"></i> Adicionar Tipo Sensor Lógico
       </a>
      </div>
    </div>

    {% if tipo_sensores_logicos %}
      <table class="table table-striped">
        <thead class="table-light">
          <tr>
            <th scope="col">Sensor Físico</th>
            <th scope="col">Tipo de Sensor</th>
            <th scope="col">Descrição</th>
            <th scope="col" class="text-end">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for tps in tipo_sensores_logicos %}
            <tr>
              <td>{{ tps.id_sensor_fisico }}</td>
              <td>{{ tps.id_tipo_sensor }}</td>
              {% if tps.descricao %}
                <td>{{ tps.descricao }}</td>
              {% else %}
                <td></td>
              {% endif %}
              <td class="text-end">
                <div class="d-flex justify-content-end gap-2">
                  <a href="{% url 'tipo_sensor_logico_detail' pk=tps.pk %}" class="btn btn-sm btn-info">
                    <i class="fa fa-eye"></i> Visualizar
                  </a>
                  <a href="{% url 'tipo_sensor_logico_update' pk=tps.pk %}" class="btn btn-sm btn-warning">
                    <i class="fa fa-edit"></i> Editar
                  </a>
                  <a href="{% url 'tipo_sensor_logico_delete' pk=tps.pk %}" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash-alt"></i> Excluir
                  </a>
                </div>  
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p> Não há tipos de sensores lógicos cadastrados</p>
    {% endif %}
  </div>
{% endblock %}
