{% extends "acad/base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Detalhar Sensor Físico{% endblock page_title %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><i class="fa fa-info-circle"></i> Visualização do Sensor Físico</h1>
</div>

<div class="card shadow-sm">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-3">
          <label class="form-label">
            <strong><i class="fa fa-microchip"></i> Sensor:</strong>
          </label>
          <p class="form-control-static">{{ tipo_sensor_fisico.nome }}</p>
        </div>
        <div class="mb-3">
          <label class="form-label">
            <strong><i class="fa fa-tag"></i> Sigla:</strong>
          </label>
          <p class="form-control-static">{{ tipo_sensor_fisico.sigla }}</p>
        </div>
        <div class="mb-3">
          <label class="form-label">
            <strong><i class="fa fa-align-left"></i> Descrição:</strong>
          </label>
          <p class="form-control-static">{{ tipo_sensor_fisico.descricao }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-4 d-flex justify-content-end">
  <a href="{% url 'tipo_sensor_fisico_list' %}" class="btn btn-primary">
    <i class="fa fa-arrow-left"></i> Voltar
  </a>
</div>
{% endblock content %}
