{% extends "acad/base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}
  {% if tipo_sensor_fisico.pk %}
    Editar Tipo Sensor Físico
  {% else %}
    Novo Tipo Sensor Físico
  {% endif %}
{% endblock page_title %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% if tipo_sensor_fisico.pk %}
      <h1 class="h2"><i class="fa fa-edit"></i> Atualizar Tipo Sensor Físico</h1>
    {% else %}
      <h1 class="h2"><i class="fa fa-plus"></i> Cadastrar Tipo Sensor Físico</h1>
    {% endif %}
  </div>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">
      <i class="fa fa-save"></i> Salvar
    </button>
    <a href="{% url 'tipo_sensor_fisico_list' %}" class="btn btn-danger">
      <i class="fa fa-times"></i> Cancelar
    </a>
  </form>
{% endblock content %}
