{% extends "acad/base.html" %}

{% block page_title %}Orientação{% endblock page_title %}

{% block content %}
  <div class="table-responsive">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">
        <i class="fa fa-compass"></i> Orientação
      </h1>
      <div>
        <a href="{% url 'tipo_orientacao_create' %}" class="btn btn-primary">
          <i class="fa fa-plus"></i> Adicionar Orientação
        </a>
      </div>
    </div>

    {% if tipo_orientacoes %}
      <table class="table table-striped">
        <thead class="table-light">
          <tr>
            <th scope="col">Orientação</th>
            <th scope="col" class="text-end">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for tps in tipo_orientacoes %}
            <tr>
              <td>{{ tps.nome }}</td>
              <td class="text-end">
                <div class="d-flex justify-content-end gap-2">
                  <a href="{% url 'tipo_orientacao_detail' pk=tps.pk %}" class="btn btn-sm btn-info">
                    <i class="fa fa-eye"></i> Visualizar
                  </a>
                  <a href="{% url 'tipo_orientacao_update' pk=tps.pk %}" class="btn btn-sm btn-warning">
                    <i class="fa fa-edit"></i> Editar
                  </a>
                  <a href="{% url 'tipo_orientacao_delete' pk=tps.pk %}" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash-alt"></i> Excluir
                  </a>
                </div>  
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p> Não há orientações registradas </p>
    {% endif %}
  </div>
{% endblock %}
